<iframe class=" w-full h-full absolute "
    src="https://www.youtube.com/embed/R4He_Gcn7cA?autoplay=1&mute=1&loop=1&controls=0"></iframe>

<div class="h-screen bg-white">
    <div class="pt-[20%] h-full  px-24 absolute text-white bg-gradient-to-r from-black">
        <h1 class="text-6xl font-bold"> KGF</h1>
        <p class="inline-block py-6 text-xl w-1/4 flex-wrap">Rocky, a young man, seeks power and wealth in order to fulfil a promise to his dying mother. His quest takes him to Mumbai, where he becomes involved with the notorious gold mafia..</p>
        <div>
            <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-70 transition-[2s]">
                <span>&rarr;</span>Play
            </button>
            <button class="mx-2 bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-25 rounded-lg">
                More Info
            </button>
        </div>
    </div>
</div>